<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="information">
			<div class="title">
				<h3><i class="dropdown icon"></i>Informaci&oacute;n de educaci&oacute;n</h3>						
			</div>
			<div class="content">
				<div class="field">
					<label>Historial Acad&eacute;mico y Ocupacional</label>
					<textarea th:field="*{academicHistory.history}"></textarea>
				</div>
				
				<h2>Educaci&oacute;n</h2>				
				<table class="ui unstackable celled table">
					<thead>
						<tr>
							<th>Escolaridad</th>
    						<th>Concentraci&oacute;n</th>
    						<th>Escuela, Colegio o Universidad</th>
    						<th></th>
  						</tr>
					</thead>
  					<tbody>
  						<tr th:each="education : *{academicHistory.education}">
							<td><span th:text="${education.scholarity.getDesc()}"/></td>
							<td><span th:text="${education}"/></td>
							<td><span th:text="${education.school}"/></td>
							<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
						</tr>
  					</tbody>
  					<tfoot class="full-width">
						<tr>
							<th colspan="6">
								<div class="ui right floated small primary labeled icon button">
									<i class="add icon"></i> A&ntilde;adir
								</div>
      						</th>
    					</tr>
  					</tfoot>
				</table>
			</div>
		</th:block>
	</body>
</html>