<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="family">
			<div class="title">
				<h2><i class="dropdown icon"></i>Composici&oacute;n Familiar</h2>
			</div>
	  		<div class="content">
				<div class="field">
					<label>Historial Familiar</label>
					<textarea th:field="*{family.history}"></textarea>
				</div>
				<br/>
				
				<table class="ui unstackable celled table">
					<thead>
						<tr>
							<th>Nombre</th>
    						<th>Edad</th>
    						<th>Parentezco</th>
    						<th>Grado acad&eacute;mico mas alto adquirido</th>
    						<th>Ocupaci&oacute;n</th>
    						<th></th>
  						</tr>
					</thead>
  					<tbody>
  						<tr th:each="member : *{family.familyMembers}">
							<td><span th:text="${member.name}"/></td>
							<td><span th:text="${member.age}"/></td>
							<td><span th:text="${member.relationship}"/></td>
							<td><span th:text="${member.scholarity.getDesc()}"/></td>
							<td><span th:text="${member.occupation}"/></td>
							<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
						</tr>
  					</tbody>
  					<tfoot class="full-width">
						<tr>
							<th colspan="6">
								<div class="ui right floated small primary labeled icon button">
									<i class="add icon"></i> A&ntilde;adir
								</div>
      						</th>
    					</tr>
  					</tfoot>
				</table>
			</div>
		</th:block>
	</body>
</html>