<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="information">
			<div class="title">
				<h3><i class="dropdown icon"></i>Informaci&oacute;n de vivienda</h3>						
			</div>
			<div class="content">
				<div class="field">
					<label>Vivienda</label>
					<textarea rows="2" th:field="*{housing.description}"></textarea>
				</div>
				
				<div class="two wide fields">
					<div class="five wide field">
						<label>Tipo de vivienda</label>
						<select class="ui fluid search selection dropdown" th:field="*{housing.type}">
							<option value="">Seleccione</option>
							<option
								th:each="housingType : ${T(com.oots.core.persistence.model.enums.HousingType).values()}"
								th:value="${housingType}"
								th:text="${housingType.getDesc()}">
							</option>
						</select>
					</div>
					
					<div class="eleven wide field">
						<label>Especifique</label>
						<input type="text" th:field="*{housing.otherType}">
					</div>
				</div>
				
				<div class="two wide fields">
					<div class="five wide field">
						<label>Materiales de vivienda</label>
						<select class="ui fluid search selection dropdown" th:field="*{housing.materials}">
							<option value="">Seleccione</option>
							<option
								th:each="housingMaterial : ${T(com.oots.core.persistence.model.enums.HousingMaterial).values()}"
								th:value="${housingMaterial}"
								th:text="${housingMaterial.getDesc()}">
							</option>
						</select>
					</div>
					
					<div class="eleven wide field">
						<label>Especifique</label>
						<input type="text" th:field="*{housing.otherMaterials}">
					</div>
				</div>
				
				<h4>Detalles de la vivienda</h4>
				<div class="fields">
					<div class="two wide field">
						<label>Habitaciones</label>
						<input type="text" th:field="*{housing.bedrooms}">
					</div>
					<div class="two wide field">
						<label>Ba&ntilde;os</label>
						<input type="text" th:field="*{housing.bathrooms}">
					</div>
				</div>
				
				<div class="two wide fields">
					<div class="five wide field">
						<label>Componentes de la vivienda</label>
						<select id="medicare" class="ui fluid search selection dropdown" th:field="*{housing.components}" multiple="multiple" >
							<option value="">Seleccione</option>
							<option
								th:each="housingComponents : ${T(com.oots.core.persistence.model.enums.HousingComponents).values()}"
								th:value="${housingComponents}"
								th:text="${housingComponents.getDesc()}">
							</option>
						</select>
					</div>
					
					<div class="eleven wide field">
						<label>Otros</label>
						<input type="text" th:field="*{housing.otherComponents}">
					</div>
				</div>
				
				<div class="two wide fields">
					<div class="five wide field">
						<label>&iquest;La residencia es propia o alquilada?</label>
						<select id="medicare" class="ui fluid search selection dropdown" th:field="*{housing.ownership}">
							<option value="">Seleccione</option>
							<option
								th:each="housingOwnership : ${T(com.oots.core.persistence.model.enums.HousingOwnership).values()}"
								th:value="${housingOwnership}"
								th:text="${housingOwnership.getDesc()}">
							</option>
						</select>
					</div>
					
					<div class="eleven wide field">
						<label>Otros</label>
						<input type="text" th:field="*{housing.otherOwnership}">
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>