<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="information">
			<div class="title">
				<h3><i class="dropdown icon"></i>Historial de salud mental</h3>						
			</div>
			<div class="content">
				<div class="field">
					<label>Historial</label>
					<textarea th:field="*{mentalHealth.history}"></textarea>
				</div>
				
				<br/>
				
				<div class="field">
					<h3 class="ui dividing header">Condiciones mentales y de adicciones</h3>
				</div>
				<table class="ui unstackable celled table bordered">
					<thead>
						<tr>
							<th rowspan="2" class="five wide">Condici&oacute;n f&iacute;sica</th>
      						<th colspan="3" class="center aligned four wide">&iquest;Actualmente recibe tratamiento?</th>
      						<th colspan="3" class="center aligned five wide">&iquest;Que medicamentos utiliza?</th>
      						<th rowspan="2" class="center aligned two wide">Action</th>
  						</tr>
  						<tr>
							<th class="center aligned">Si</th>
      						<th class="center aligned">No</th>
      						<th class="center aligned">Se desconoce</th>
      						<th class="center aligned">Nombre</th>
      						<th class="center aligned">Cantidad</th>
      						<th class="center aligned">Veces al d&iacute;a</th>
  						</tr>
					</thead>
  					<tbody>
  						<span th:each="condition, stat1 : *{mentalHealth.conditions}">
							<span th:with="rowspan=${#lists.size(condition.medicine)}">
								<tr>
									<td th:rowspan="${rowspan}" th:text="${condition.name}"></td>
									<td th:rowspan="${rowspan}" class="center aligned">
										<div th:if="${condition.treatment == T(com.oots.core.persistence.model.enums.Treatment).YES}">
											<i class="large green checkmark icon"></i>
										</div>
									</td>
									<td th:rowspan="${rowspan}" class="center aligned">
										<div th:if="${condition.treatment == T(com.oots.core.persistence.model.enums.Treatment).NO}">
											<i class="large green checkmark icon"></i>
										</div>
									</td>
									<td th:rowspan="${rowspan}" class="center aligned">
										<div th:if="${condition.treatment == T(com.oots.core.persistence.model.enums.Treatment).UNKNOW}">
											<i class="large green checkmark icon"></i>
										</div>
									</td>
									<td th:text="${condition.medicine[0].name}"></td>
									<td th:text="${condition.medicine[0].amount}"></td>
									<td th:text="${condition.medicine[0].dose}"></td>
									<td th:rowspan="${rowspan}" class="center aligned">
										<div class="ui buttons">
											<div class="ui blue icon button">
												<i class="edit outline icon"></i>&emsp;
											</div>
											<div class="or"></div>
											<div class="ui red icon button">
												&emsp;<i class="trash alternate outline icon"></i>
											</div>
										</div>
									</td>
								</tr>
								
								<span th:if="${rowspan > 1}" th:each="medicine, iStat : ${condition.medicine}">
									<tr th:if="${iStat.index > 0}" >
										<td th:text="${medicine.name}"></td>
										<td th:text="${medicine.amount}"></td>
										<td th:text="${medicine.dose}"></td>
									</tr>
								</span>
							</span>
						</span>
  					</tbody>
  					<tfoot class="full-width">
						<tr>
							<th colspan="8">
								<div class="ui right floated small primary labeled icon button">
									<i class="add icon"></i> A&ntilde;adir
								</div>
      						</th>
    					</tr>
  					</tfoot>
				</table>
				
				<br/>
				<br/>
				
				<div class="field">
					<h3 class="ui dividing header">Si recibe tratamiento psiquiátrico, favor ofrecer la siguiente informaci&oacute;n</h3>
				</div>
				<table class="ui unstackable celled table">
					<thead>
						<tr>
							<th>Nombre del doctor</th>
							<th>Especialidad</th>
    						<th>Tel&eacute;fono</th>
    						<th>Direcci&oacute;n</th>
    						<th class="center aligned two wide">Action</th>
  						</tr>
					</thead>
  					<tbody>
    					<tr>
      						<td th:text="*{mentalHealth.psychiatricTreatment.doctor}"></td>
      						<td th:text="*{mentalHealth.psychiatricTreatment.specialty}"></td>
      						<td th:text="*{mentalHealth.psychiatricTreatment.phone}"></td>
      						<td th:text="*{mentalHealth.psychiatricTreatment.address}"></td>
      						<td class="center aligned">
      							<div class="ui buttons">
									<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
  					</tbody>
  					<tfoot class="full-width">
						<tr>
							<th colspan="5">
								<div class="ui right floated small primary labeled icon button">
									<i class="plus icon"></i> A&ntilde;adir
								</div>
      						</th>
    					</tr>
  					</tfoot>
				</table>
				
				<br/>
				<br/>
				
				<div class="field">
					<h3 class="ui dividing header">Historial familiar de mentales y de adicciones </h3>
				</div>
				<table class="ui unstackable celled table">
					<thead>
						<tr>
							<th class="seven wide">Condici&oacute;n</th>
							<th class="seven wide">Lado Familiar</th>
    						<th class="center aligned two wide">Action</th>
  						</tr>
					</thead>
  					<tbody>
    					<tr th:each="familyHistory : *{mentalHealth.familyHistory}">
      						<td th:text="${familyHistory.condition}"></td>
      						<td th:text="${familyHistory.familySide.getDesc()}"></td>
      						<td class="center aligned">
      							<div class="ui buttons">
									<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
  					</tbody>
  					<tfoot class="full-width">
						<tr>
							<th colspan="3">
								<div class="ui right floated small primary labeled icon button">
									<i class="plus icon"></i> A&ntilde;adir
								</div>
      						</th>
    					</tr>
  					</tfoot>
				</table>
				
				<br/>
				<br/>
				
				<div class="field">
					<h3 class="ui dividing header">Hospitalizaci&oacute;n psiqui&aacute;trica</h3>
				</div>
				
				<div class="field">
					<label>&iquest;Ha sido hospitalizado?</label>
					<div class="inline fields">
					    <div class="field">
		      				<div class="ui radio checkbox">
		        				<input type="radio" th:checked="*{mentalHealth.hospitalized}">
			        			<label>S&iacute;</label>
			      			</div>
					    </div>
					    <div class="field">
					      <div class="ui radio checkbox">
					        <input type="radio" th:checked="*{!mentalHealth.hospitalized}">
					        <label>No</label>
					      </div>
					    </div>
		  			</div>
				</div>
				
				<div class="two wide field">
					<label>&iquest;Cuantas veces?</label>
					<input type="text" th:field="*{mentalHealth.amountOfHospitalizations}">
				</div>
		  		
		  		<br/>
				<br/>
		  		
				<div id="hospitalizationDetails" style="display: none">
					<table class="ui unstackable celled table">
						<thead>
							<tr>
								<th rowspan="2">Fecha</th>
	      						<th rowspan="2">Instituci&oacute;n</th>
	      						<th colspan="2">Tipo de Hospitalizaci&oacute;n</th>
	      						<th rowspan="2">Raz&oacute;n de hospitalizaci&oacute;n</th>
	      						<th rowspan="2">Action</th>
	  						</tr>
	  						<tr>
								<th>Parcial</th>
	      						<th>Institucional</th>
	  						</tr>
						</thead>
	  					<tbody>
	    					<tr th:each="hospitalization : *{mentalHealth.hospitalizations}">
	      						<td th:text="${hospitalization.date}"></td>
	      						<td th:text="${hospitalization.institution}"></td>
	      						<td class="center aligned">
						      		<i class="large green checkmark icon" th:if="${hospitalization.type == T(com.oots.core.persistence.model.enums.HospitalizationType).PARTIAL}"></i>
						      	</td>
	      						<td class="center aligned">
	      							<i class="large green checkmark icon" th:if="${hospitalization.type == T(com.oots.core.persistence.model.enums.HospitalizationType).INSTITUTIONAL}"></i>
	      						</td>
	      						<td th:text="${hospitalization.reason}"></td>
	      						<td>
	      							<div class="ui buttons">
										<div class="ui blue icon button">
											<i class="edit outline icon"></i>&emsp;
										</div>
	      								<div class="or"></div>
	      								<div class="ui red icon button">
											&emsp;<i class="trash alternate outline icon"></i>
										</div>
									</div>
								</td>
	    					</tr>
	  					</tbody>
					
	  					<tfoot class="full-width">
							<tr>
								<th colspan="6">
									<div class="ui right floated small primary labeled icon button">
										<i class="plus icon"></i> A&ntilde;adir
									</div>
	      						</th>
	    					</tr>
	  					</tfoot>
					</table>
				</div>
				
				<br/>
				<br/>
			</div>
		</th:block>
	</body>
</html>