<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="information">
			<div class="title">
				<h3><i class="dropdown icon"></i>Informaci&oacute;n personal</h3>						
			</div>
			<div class="content">
				<div class="five wide fields">
					<div class="required field">
						<label>Nombre</label>
						<input type="text" th:field="*{name.firstName}">
					</div>
					
					<div class="field">
						<label>Segundo nombre</label>
						<input type="text" th:field="*{name.middleName}">
					</div>
					
					<div class="required field">
						<label>Apellido paterno</label>
						<input type="text" th:field="*{name.lastName}">
					</div>
					
					<div class="field">
						<label>Apellido materno</label>
						<input type="text" th:field="*{name.maidenName}">
					</div>
	
					<div class="field">
						<label>Apodo</label>
						<input type="text" th:field="*{name.nickname}">
					</div>
				</div>
	
				<div class="four wide fields">
					<div class="required field" id="dobCalendar">
						<label>Fecha de nacimiento</label>
						<div class="ui calendar">
							<div class="ui input left icon">
								<i class="calendar icon"></i> <input type="text" th:field="*{dateOfBirth}">
							</div>
						</div>
					</div>
	
					<div class="field">
						<label>Sexo</label>
						<select id="sex" class="ui fluid search selection dropdown" th:field="*{gender}">
							<option value="">Seleccione</option>
							<option
								th:each="genderEnum : ${T(com.oots.core.persistence.model.enums.Gender).values()}"
								th:value="${genderEnum}" th:text="${genderEnum.getDesc()}">
							</option>
						</select>
					</div>
	
					<div class="field">
						<label>Estado Civil</label>
						<select id="scholarity" class="ui fluid search selection dropdown" th:field="*{civilState}">
							<option value="">Seleccione</option>
							<option
								th:each="civilStateEnum : ${T(com.oots.core.persistence.model.enums.CivilState).values()}"
								th:value="${civilStateEnum}"
								th:text="${civilStateEnum.getDesc()}"></option>
						</select>
					</div>
	
					<div class="field">
						<label>Afiliac&oacute;n religiosa</label>
						<input type="text" th:field="*{religion}">
					</div>
				</div>
			</div>
		</th:block>
	</body>
</html>