<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="documents">
			<div class="title">
				<div class="field">
					<h2><i class="dropdown icon"></i>Documentos</h2>
				</div>
			</div>
	  		<div class="content">
	  			<div class="fields">
		  			<div class="field">
		  				<label>Tipo de archivo</label>
		  				<div class="ui action input">
							<input type="text" placeholder="File 1" readonly>
							<input type="file" accept=".pdf" name="file">
							<div class="ui icon button">
							  <i class="attach icon"></i>
							</div>
						</div>
		  			</div>
		  			
		  			<div class="three wide field">
						<label>Tipo de archivo</label>
						<select class="ui fluid search dropdown" id="documentType">
							<option value=""></option>
							<option
								th:each="status : ${T(com.oots.core.persistence.model.enums.DocumentType).values()}"
								th:value="${status}" th:text="${status.getDesc()}">
							</option>
						</select>
					</div>
	  			</div>
				
	  			<button id="documentUpload" class="ui button green" type="submit" disabled>
	  				<i class="white icon upload"></i>Upload
  				</button>
				
				<br/>
				<br/>
				
				<table class="ui unstackable celled structured table">
					<thead>
						<tr>
							<th rowspan="2">Archivo</th>
      						<th colspan="2">Completado</th>
      						<th rowspan="2">Action</th>
  						</tr>
  						<tr>
							<th>Si</th>
      						<th>No</th>
  						</tr>
					</thead>
  					<tbody>
    					<tr>
      						<td data-label="Name">Relevo de reponsibilidad</td>
      						<td data-label="Job"></td>
      						<td class="center aligned">
					      		<i class="large red close icon"></i>
					      	</td>
      						<td>
      							<div class="ui green button" id="addUpload">
									<i class="white icon upload"></i>Upload
								</div>
							</td>
    					</tr>
    					<tr>
      						<td >Par&aacute;metros de confidencialidad</td>
      						<td class="center aligned">
      							<i class="large green checkmark icon"></i>
      						</td>
      						<td class="center aligned"></td>
      						<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
    					<tr>
      						<td >Contrato de intervenci&oacute;n</td>
      						<td class="center aligned">
      							<i class="large green checkmark icon"></i>
      						</td>
      						<td class="center aligned"></td>
      						<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
    					<tr>
      						<td >Concentimiento para la divulgaci&oacute;n de informaci&oacute;n</td>
      						<td class="center aligned">
      							<i class="large green checkmark icon"></i>
      						</td>
      						<td class="center aligned"></td>
      						<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
    					<tr>
      						<td >Pr&aacute;cticas de privacidad</td>
      						<td class="center aligned">
      							<i class="large green checkmark icon"></i>
      						</td>
      						<td class="center aligned"></td>
      						<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
    					<tr>
      						<td >Protecci&oacute;n de menores</td>
      						<td class="center aligned">
      							<i class="large green checkmark icon"></i>
      						</td>
      						<td class="center aligned"></td>
      						<td>
      							<div class="ui buttons">
      								<div class="ui blue icon button">
										<i class="edit outline icon"></i>&emsp;
									</div>
      								<div class="or"></div>
      								<div class="ui red icon button">
										&emsp;<i class="trash alternate outline icon"></i>
									</div>
								</div>
							</td>
    					</tr>
  					</tbody>
				</table>
			</div>
		</th:block>
	</body>
</html>