<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="generalInformation">
			<div class="title">
				<div class="field">
					<h2><i class="dropdown icon"></i>Informaci&oacute;n General</h2>
				</div>
			</div>
			<div class="content">
				<div class="four wide fields">
					<div class="field">
						<label>Trabajadora Social asignada</label>
						<select class="ui fluid search dropdown" th:field=*{user.id} readonly>
							<option value="">Trabajadora Social</option>
							<option th:each="user : ${users}" th:value="${user.key}" th:text="${user.value}"></option>
						</select>
					</div>
					
					<div class="field">
						<label>Participante del caso</label>
						<input type="text" th:value=*{patient.name.getFullName()} readonly> 
					</div>
					
					<div class="field" th:if="*{not #strings.isEmpty(id)}">
						<label>Estatus</label>
						<select class="ui fluid search dropdown" th:field=*{status}>
							<option value="">Seleccione</option>
							<option
								th:each="status : ${T(com.oots.core.persistence.model.enums.RecordStatus).values()}"
								th:value="${status}" th:text="${status.getDesc()}">
							</option>
						</select>
					</div>
					
					<div class="field" th:if="*{not #strings.isEmpty(id)}">
						<label>Numero de expediente</label>
						<input type="text" th:field=*{id} readonly>
					</div>
					
				</div>
				<button class="ui button blue" type="submit">Guardar</button>
			</div>
		</th:block>
	</body>
</html>