<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<th:block th:insert="fragments/general.html :: imports"> </th:block>
	<script src="../js/interview.js" th:href="@{/js/interview.js}"></script>
	<script src="../js/record.js" th:href="@{/js/record.js}"></script>
	<link rel="stylesheet" type="text/css" href="../css/record.css" th:href="@{css/record.css}" />
</head>
<body>
	<div th:replace="fragments/general.html :: navbar"></div>
	<div class="ui grid">
		<div class="row">
			<div class="column" id="content">
				<div class="ui grid">
					<div class="one column  aligned row">
						<div class="column">
							<form class="ui form" th:action="@{/record}" th:object="${record}" method="post" autocomplete="off">
								<div class="field">
									<h1 class="ui dividing header">Expedientes</h1>
								</div>
								
								<div class="ui styled fluid accordion">
									<div th:replace="record/generalInfo.html :: generalInformation"></div>
									<div th:replace="record/documents.html :: documents"></div>
									<div th:replace="record/interventions.html :: interventions"></div>
								</div>
								<br/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="record/uploadModal.html :: uploadModal"></div>
</body>
</html>
