<th:block th:fragment="uploadModal">	
	<div class="ui tiny modal" id="uploadModal">
		<i class="close icon"></i>
		<div class="header">
			 Upload File
		</div>
		<div class="content">
			<div class="ui fluid action input">
				<input type="text" placeholder="File 1" id="filePath" readonly>
				<input type="file" id="file">
				<div class="ui icon button">
					<i class="attach icon"></i>
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui button">Cancel</div>
			<div class="ui button">OK</div>
		</div>
	</div>
</th:block>