<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<th:block th:insert="fragments/general.html :: imports"> </th:block>
	<script src="../js/interview.js" th:href="@{/js/interview.js}"></script>
</head>
<body>
	<div th:replace="fragments/general.html :: navbar"></div>
	<div class="ui grid">
		<div class="row">
			<div class="column" id="content">
				<div class="ui grid">
					<div class="row">
						<h1 class="ui big header"></h1>
					</div>

					<div class="one column  aligned row">
						<div class="column">
							<form class="ui form" th:action="@{/patient}" method="post" autocomplete="off">
								<div class="field">
									<h1 class="ui dividing header">Plan de Servicio</h1>
								</div>
								
								<div class="field">
									<label>Metas (a mediano y largo plazo) del participante en ordern de prioridad</label>
									<textarea></textarea>
								</div>
								
								<br/>
								
								<div class="field">
									<label>Objetivos, estrategias y t&ecnicas a ser utilizadas durante la intervenci&oacute;n</label>
								</div>
								<table class="ui unstackable celled table">
									<thead>
										<tr>
											<th>Objetivos</th>
				    						<th>Estrategias</th>
				    						<th>T&eacute;cnicas</th>
				  						</tr>
									</thead>
				  					<tbody>
				    					<tr>
				      						<td data-label="Job">Hermano</td>
				      						<td data-label="Job">Hermano</td>
				      						<td data-label="Job">Hermano</td>
				    					</tr>
				    					<tr>
				      						<td data-label="Name">Juan Felipe del Castillo</td>
				      						<td data-label="Age">24</td>
				      						<td data-label="Job">Hermano</td>
				    					</tr>
				  					</tbody>
				  					<tfoot class="full-width">
										<tr>
											<th colspan="6">
												<div class="ui right floated small primary labeled icon button">
													<i class="user icon"></i> A&ntilde;adir								</div>
				      						</th>
				    					</tr>
				  					</tfoot>
								</table>
								
								<br/>
								
								<div class="field">
									<label>M&eacute;todos para evaluar el progreso del mejoramiento del participante</label>
									<textarea></textarea>
								</div>
								
								<div class="field">
									<label>Mencionar y justificar los referidos</label>
									<textarea></textarea>
								</div>

								<br/>
								<a class="ui button" href="/record" th:href="@{/record}">Cancelar</a>
								<button class="ui button green" type="submit">Guardar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>