<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<th:block th:insert="fragments/general.html :: imports"> </th:block>
	
	<script>
	    function rowClicked(value) {
	        location.href = "/record/" + value;
	    }
	</script>
</head>
<body>
	<div th:replace="fragments/general.html :: navbar"></div>
		
	<div class="ui two column center aligned grid" id="content">
<!--     	<div class="column">
      		<div class="field">
				<h2 class="ui icon header">
					<i class="circular users icon"></i>
				  	<div class="content">
				  		Participantes
				    	<div class="sub header">
				    		Lista de participantes registrados
			    		</div>
				  </div>
				</h2>
			</div>
    	</div> -->
    	<div class="column">
      		<div class="field">
				<h2 class="ui icon header">
					<i class="circular folder open outline icon"></i>
				  	<div class="content">
				  		Expedientes
				    	<div class="sub header">
				    		Lista de casos asignados
			    		</div>
				  </div>
				</h2>
			</div>
    	</div>
	</div>
	
	<div class="ui grid">
		<div class="row">
			<div class="column" id="content">
				<div class="ui grid">
					<div class="one column  aligned row">
						<div class="column">
							<form class="ui form" th:action="@{/patients}" method="post">
								<table class="ui unstackable sortable striped selectable celled table">
									<thead>
										<tr>
											<th>N&uacute;mero de Caso</th>
											<th>Nombre del Participante</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="record : ${records}" th:onclick="'rowClicked(\'' + ${record.id} + '\');'">
											<td><span th:text="${record.id}"/></td>
											<td><span th:text="${record.patient.name.getFullName()}"/></td>
											<td><span th:text="${record.status.getDesc()}"/></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
