<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="#{label.pages.home.title}">home</title>
	<th:block th:insert="fragments/general.html :: imports"> </th:block>
	<style type="text/css">
		.wrapper{width:500px;margin-left:auto;margin-right:auto}
		label{padding-left:0 !important}
	
		body {
			background-color: #DADADA;
		}
		
		body>.grid {
			height: 100%;
		}
		
		.column {
			max-width: 450px;
		}
	</style>
</head>
<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<div class="ui raised segment">
				<div class="ui success message">
					<h1 id="error" th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]}" th:text="#{message.logoutError}">error</h1>
			        <h1 id="success" th:if="${param.logSucc}" th:text="#{message.logoutSucc}"> success</h1>
		        </div>
		        <br/><br/>
		        <a class="ui primary fluid large teal submit button" th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
			</div>
		</div>
	</div>
</body>

</html>