<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
	<th:block th:insert="fragments/general.html :: imports"> </th:block>
</head>
<body>
	<div th:replace="fragments/general.html :: navbar"></div>
	<div class="ui grid">
		<div class="row">
			<div class="column" id="content">
				<div class="ui grid">
					<div class="one column  aligned row">
						<div class="column">
							<form class="ui form" th:action="@{/patients}" th:object="${search}" method="post">
							
								<!-- <button class="ui right floated button green"><i class="user icon"></i>A&ntilde;adir participante</button> -->
								<a class="ui right floated button green" href="/patient" th:href="@{/patient}"><i class="user icon"></i>A&ntilde;adir participantel</a>
								
								<h1 class="ui dividing header">Participantes</h1>
								
								<div class="five wide fields">
									<div class="field">
										<label>Nombre</label>
										<input type="text" th:field="*{name.firstName}">
									</div>
									
									<div class="field">
										<label>Segundo nombre</label>
										<input type="text" th:field="*{name.middleName}">
									</div>
									
									<div class="field">
										<label>Apellido paterno</label>
										<input type="text" th:field="*{name.lastName}">
									</div>
									
									<div class="field">
										<label>Apellido materno</label>
										<input type="text" th:field="*{name.maidenName}">
									</div>
					
									<div class="field">
										<label>Apodo</label>
										<input type="text" th:field="*{name.nickname}">
									</div>
								</div>
								
								<div>
									<button class="ui right button blue" type="submit">Buscar</button>
								</div>
								
								<br/>
								<div class="ui divider"></div>
								<br/>
								<br/>
								
								<div class="ui center aligned grid" th:if="${#lists.isEmpty(patients)}">
									<h3 class="center aligned">No se encontraron resultados</h3>
								</div>
								
								<div>
								<table class="ui celled table" th:if="${not #lists.isEmpty(patients)}">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Segundo nombre</th>
											<th>Apelido paterno</th>
											<th>Apellido materno</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="patient : ${patients}">
											<td><span th:text="${patient.personalInformation.name.firstName}"></span></td>
											<td><span th:text="${patient.personalInformation.name.middleName}"></span></td>
											<td><span th:text="${patient.personalInformation.name.lastName}"></span></td>
											<td><span th:text="${patient.personalInformation.name.maidenName}"></span></td>
										</tr>
									</tbody>
								</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
